@import "settings";

@import "foundation";

.slide-show {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:hidden;

  /*-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;*/
 z-index: -1;
}

.login-form button {
  width: 100%;
}
